.idea/
.vscode/
__pycache__/
venv
# Original LLaMA checkpoints folder
llama*-*b/

*.o
*.so
# Exclude YAMI-specific files
*.bin

# Exclude CSV files (used for benchmarking)
*.csv

gpt2
llama

test_*
!test_*.cpp
!test_*.py
.pytest_cache
# Generated kernel bindings
_gemm_*.py
# perf stats
*.data*